h1{
    height: 50px;
    width: 300px;
    border: 5px solid green;
    padding-left: 10px;
    margin-left: 5px 10px 0px 20px ;
    color: darkblue;
    background-color: yellow;
    border-radius: 10px;
}
.Outer{
    height: 200px;
    width: 70px;
    border: 5px solid grey;
    background-color: black;
    margin: 10px 10px 10px 40px;
}
div > div{
    height: 50px;
    width: 50px;
    border: 2px solid wheat;
    margin: 10px;
    border-radius: 50%;
}
.First {
    background-color: red;
}
.Second {
    background-color: yellow;
}
.Third{
    background-color: green;
}