/* h1{
    text-align: start;
    height: 50px;
    width: 250px;
    border-style: solid;
    border-color: darkblue;
    border-width: 5px;
    border: 5px solid darkblue;
    background-color: magenta;
    border-radius: 15px;
} */
